---

---

<div class="flex flex-col sm:items-center sm:flex-row sm:justify-between">
  <a href="/" class="flex items-center my-4 text-xl font-bold hover:text-[#f45b69]">
    <img src="../../public/favicon.svg" class="w-8 mr-2 hover:-rotate-12" />
    Portafolio
  </a>
  <div class="flex font-medium">
    <ul class="flex gap-8">
      <a href="" class="hover:text-[#f45b69]">
        <li>Blog</li>
      </a>
    </ul>
  </div>
</div>