<p class="font-bold text-lg my-6">Nuestros Proyectos</p>

<div class="flex flex-row justify-between">

  <div class="flex flex-row justify-center flex-wrap gap-4">

    <div class="bg-gray-700 rounded-lg md:w-1/3 p-6">
      <a href="https://github.com/stivenrc/Tienda\_" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ecommerce</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Este proyecto se ha construido utilizando Next.js y se ha iniciado a partir de la plantilla proporcionada por create-next-app. Next.js es una extensión del popular framework React, diseñada específicamente para simplificar el proceso de desarrollo de aplicaciones web, priorizando la eficiencia.</p>
      </a>
    </div>
  
    <div class="bg-gray-700 rounded-lg md:w-1/3 p-6">
      <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Portafolio-Astro</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Este proyecto no es solo un ejemplo de mi experiencia en el desarrollo web moderno; es la manifestación de un portafolio en constante evolución, construido con Astro, un marco de trabajo de React que prioriza la eficiencia y el rendimiento en la creación de sitios web.</p>
      </a>
    </div>
  
    <div class="bg-gray-700 rounded-lg md:w-1/3 p-6">
      <a href="https://github.com/karen-T290/ecommerce-terminado" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ecommerce</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Este proyecto fue desarrollado utilizando Next.js y se inició utilizando la plantilla de create-next-app. Next.js es un marco de trabajo de React que simplifica la creación de aplicaciones web, permitiéndote desarrollar de manera eficiente aplicaciones rápidas y optimizadas.</p>
        <p style="color: #b8dfed"> Realizado Por: Karen Tatiana</p>
      </a>
    </div>
  
  </div>





  



