<p class="font-bold text-lg my-6">Nuestros Proyectos</p>

<div class="flex flex-wrap justify-between">
  <a href="https://github.com/stivenrc/Tienda_" class="flex flex-col bg-gray-700 rounded-lg md:max-w-xl">
    <div class="h-80 rounded-full w-60 border-4 border-slate-700 object-cover">
      <h5 class="mb-2 text-lg font-bold text-white" style="justify-content: center;">Ecommerce</h5>
      <p class=""style="color: #b8dfed">Este proyecto se ha construido utilizando Next.js y se ha iniciado a partir de la plantilla proporcionada por create-next-app. Next.js es una extensión del popular framework React, diseñada específicamente para simplificar el proceso de desarrollo de aplicaciones web, priorizando la eficiencia</p>
      <p style="color: #b8dfed"> Realizado Por: Steven Riascos</p>
    </div>
  </a>

  <a href="#" class="flex flex-col bg-gray-700 rounded-lg md:max-w-xl">
    <div class="h-60 rounded-full w-60 border-4 border-slate-700 object-cover">
      <h5 class="mb-2 text-lg font-bold text-white">Portafolio-Astro</h5>
      <p class=""style="color: #b8dfed">Si deseas crear tu propio portafolio da click aqui</p>
      <p style="color: #b8dfed"> Realizado Por: Karen Tatiana & Steven Riascos</p>
    </div>
  </a>

  <a href="https://github.com/karen-T290/ecommerce-terminado" class="flex flex-col bg-gray-700 rounded-lg md:max-w-xl">
    <div class="h-80 rounded-full w-60 border-4 border-slate-700 object-cover">
      <h5 class="mb-2 text-lg font-bold" style="color: #ffffff">Ecommerce</h5>
      <p class="" style="color: #b8dfed">Este proyecto fue desarrollado utilizando Next.js y se inició utilizando la plantilla de create-next-app. Next.js es un marco de trabajo de React que simplifica la creación de aplicaciones web, permitiéndote desarrollar de manera eficiente aplicaciones rápidas y optimizadas.</p>
      <p style="color: #b8dfed"> Realizado Por: Karen Tatiana</p>
    </div>
  </a>

</div>



